{% extends "base.html" %}

  {% block css %}
    <link href="{{ url_for('static', filename='css/data-services-special.css') }}" rel="stylesheet">
  {% endblock %}

  {% block top_buttons %}
  {% endblock %}

  {% block sidebar %}
    <!-- Left Menu -->
    <div id="menu-container" class="fluid hide_mobile">
    </div>
  {% endblock %}

  {% block content %}
    <!-- Main Content -->
    <div id="content-container" class="fluid">
      <h1>{{ service }}</h1>

      <p align="left">Description of Scorecard.</p>

    </div>
  {% endblock %}
